<div style="font-size:16px;padding-bottom:8px;">Filter by category</div>
<%= form_tag categories_path, :method=> 'get' do %>
  <div style="padding-bottom:8px;"><%= submit_tag 'Filter' %></div>
  <div class="category-item">
    <%= check_box_tag 'show_all', 1 %>
    All
  </div>
  <% @categories.each do |category| %>
    <div class="category-item">
      <%= check_box_tag 'category_ids[]', category.id %>
      <%= category.name %>
    </div>
  <% end %>
<% end %>
<div>
  <%= form_for Category.new do |f| %>
      <%= f.text_field :name, placeholder: 'new category' %><br />
  <% end %>
</div>
